%p.nav
  = link_to_other(t("terms.plugin.pages.updated"), updated_plugins_path)
  = link_to_other(t("terms.plugin.pages.installed"), installed_plugins_path)
  = link_to_other(t("terms.plugin.pages.recommended"), recommended_plugins_path)

