.row
  - if flash[:warning]
    %p.alert.alert-warning
      =raw flash[:warning]
  - if flash[:success]
    %p.alert.alert-success
      =raw flash[:success]
  - if flash[:info]
    %p.alert.alert-info
      =raw flash[:info]
