<% primary_button ||= "Save changes" %>

<!-- Modal -->
<div class="modal fade" id="modal-destroy" tabindex="-1" role="dialog" aria-labelledby="modal-destroyLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= head %></h4>
        </div>

        <div class="modal-body">
          <%= body %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= primary_button %>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
