<% # NOTE: Using .erb is for styling <pre> %>

<% page_title t(".page_title") %>

<p>
<%= t ".description" %>
</p>

<!-- vue.js -->
<div id="chapter1">
  <form>
    <p v-repeat="payloads">
      <input type="button" class="btn btn-default" v-on="click: sendRequest($data)" value="<%= t ".send" %>" />
      <code>
        $ curl -X POST http://localhost:8888{{ path }} -F 'json={{ data | to_json }}'
      </code>
    </p>
  </form>

  <pre>
<button class="btn btn-primary" v-on="click: fetchLogs"><%= t ".reload_log" %></button>

<span v-repeat="logs">{{ $value }}
</span></pre>
</div>
<!-- /vue.js -->
