- page_title t(".page_title")

%p.clearfix
  = link_to "<< " << t('tutorials.chapter4.page_title'), tutorials_chapter4_path, class: "pull-left"

:markdown
  #{t ".lesson_markdown"}

%p.clearfix
  = link_to "<< " << t('tutorials.chapter4.page_title'), tutorials_chapter4_path, class: "pull-left"
