- page_title t('.page_title', label: @fluentd.label)

%p= link_to t('fluentd.common.raw_log_link'), raw_log_fluentd_path(@fluentd), class: "btn btn-primary"

.row
  .col-lg-12
    = preserve do # partial containing <pre>, so shouldn't break indent
      = render partial: "shared/vue/fluent_log", locals: { fluentd: @fluentd }
