table {
  // mainly for /misc/information page
  td {
    word-wrap: break-word;
    word-break: break-all;
  }
  td:first-child {
    white-space: nowrap;
  }
}

// mainly for sidebar navigation
.nav {
  .current {
    color: #000;
    font-weight: bold;
  }
}


// visualize clickable area
label {
  cursor: pointer;
}


#page-wrapper {
  padding-bottom: 2em;
}


// expand alert area width
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    // width: 310px;
    width: 400px;
    min-width: 0;
}



#alert {
  .nothing {
    padding: 1em 0;
  }
}

// search field for DataTable to the right
.dataTables_filter {
  float: right;
}




#fluent-log {
  pre .log {
    max-height: 43em; // 30em * 1.42(line-height) = 42.6
    overflow: auto;
  }
}



#treeview {
  .tree {
    height: 20em;
    overflow-y: auto;
  }
  .preview {
    margin-top: 1em;
  }
  .vue-path {
    cursor: pointer;

    &.selected {
      background-color: #cfc;
    }
  }
}
