- page_title t('.page_title') do
  - link_to edit_fluentd_setting_path(@fluentd), class: "btn btn-primary pull-right" do
    = icon('fa-pencil')
    = t("terms.edit")

.row
  .col-lg-12
    %pre
      = preserve do
        = @config
