- page_title t('.page_title', label: @fluentd.label)

%h2= t(".setting")
%pre
  = @config

= link_to t(".edit"), edit_fluentd_setting_path(@fluentd)

= link_to "TODO: in_tailセットアップ", in_tail_fluentd_setting_path(@fluentd)
