- page_title t("fluentd.settings.#{target_plugin_name}.show.page_title")

.card.mb-3
  .card-body.bg-light
    = raw t("fluentd.settings.#{target_plugin_name}.option_guide")

= render "shared/settings/form"
