= render "shared/vue/config_field"

%script{type: "text/x-template", id: "vue-aws-credential"}
  .form-group.card.bg-light.mb-3
    .card-body
      %label{"for" => "aws-credential"}
        AWS credential
      %select{"id" => "aws-credential",
              "class" => "form-control mb-3",
              "v-model" => "credentialType",
              "v-on:change" => "onChange"}
        %option{"v-for" => "option in options",
                "v-bind:value" => "option",
                "v-bind:selected" => "credentialType===option"}
          {{ option }}
      %template{"v-for" => "option in credentialOptions"}
        %template{"v-if" => 'credentialType==="simple"'}
          %config-field{"v-bind:plugin-type" => '"output"',
                        "v-bind:option" => "option"}
        %template(v-else)
          %config-field{"v-bind:plugin-type" => 'credentialType',
                        "v-bind:option" => "option"}
