<!-- vue.js -->
<div id="fluent-log" logUrl="<%= log_tail_fluentd_agent_path(fluentd) %>">
  <pre>
<button class="btn btn-primary" v-on="click: fetchLogs"><%= t "terms.reload_log" %></button>

<span v-repeat="logs">{{ $value }}
</span></pre>
</div>
<!-- /vue.js -->

