- add_javascript_pack_tag("in_tail_parse")

= render "shared/vue/parser_plugin_form"

#in-tail-parse{"path" => setting.path}
  %parser-plugin-form{"v-bind:id" => "'parse-section'",
                      "v-bind:options-json" => "'#{Fluent::Plugin::PARSER_REGISTRY.map.keys.to_json}'",
                      "v-bind:initial-plugin-name" => "'#{setting.parse_type || setting.guess_parse_type}'",
                      "v-bind:plugin-type" => "'parse'",
                      "v-bind:plugin-label" => "'Parse'",
                      "v-on:change-parse-config" => "onChangeParseConfig",
                      "v-on:change-plugin-name" => "onChangePluginName",
                      "v-on:change-formats" => "onChangeFormats"}

  %b-card.mb-3
    %pre{"v-html" => "highlightedLines"}

  %b-card.mb-3
    %p.pb-0.mb-0
      =raw(t("fluentd.settings.in_tail_option_guide"))
