- add_javascript_pack_tag("in_tail_parse")

= render "shared/vue/owned_plugin_form"

#in-tail-parse{"v-bind:target-file" => "'#{setting.path}'"}
  %owned-plugin-form{"v-bind:id" => "'parse-section'",
                     "v-bind:options-json" => "'#{Fluent::Plugin::PARSER_REGISTRY.map.keys.to_json}'",
                     "v-bind:initial-plugin-name" => "'#{setting.parse_type || setting.guess_parse_type}'",
                     "v-bind:plugin-type" => "'parse'",
                     "v-bind:plugin-label" => "'Parse'"}

  .card.mb-3
    %pre{"class" => "card-body", "v-html" => "highlightedLines"}

  .card.md-3
    %p.card-body.pb-0
      =raw(t("fluentd.settings.in_tail_option_guide"))
