<!-- vue.js -->
<li class="nav-item dropdown" id="vue-notification">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
    <i class="fa fa-bell fa-fw"></i>
    <span class="badge" v-if="hasAlerts">{{ alertsCount }}</span>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="alertsDropdown">
    <li v-if="!hasAlerts">
      <a>
        <div class="nothing text text-success">
          <%= icon "fa-check" %>
          <%= t "terms.no_alert" %>
        </div>
      </a>
    </li>
    <li v-repeat="alerts">
      <a>
        <div>
          <%= icon("fa-cog fa-fw fa-lg fa-spin") %>
          {{ text }}
        </div>
      </a>
    </li>
  </ul>
</li>
<!-- /vue.js -->

