%script{type: "text/x-template", id: "vue-parser-multiline-form"}
  .form-group
    %b-tooltip{"target" => "label_setting_parse_0__format_firstline",
               "placement" => "right",
               "v-bind:title" => "formatFirstlineDesc"}
    %label{"id" => "label_setting_parse_0__format_firstline",
           "for" => "setting_parse_0__format_firstline",
           "v-bind:title" => "formatFirstlineDesc"}
      Format first line
    %input.form-control{"type" => "text",
                        "id" => "setting_parse_0__format_firstline",
                        "name" => "setting[parse[0]][format_firstline]",
                        "v-model.lazy" => "formatFirstline"}
    %label.mt-3{"v-bind:for" => "textareaId(pluginType)"}
      Formats
    %p.alert.alert-warning
      = t("fluentd.settings.in_tail.notice_for_multiline_limit")
    %textarea.form-control{"v-bind:id" => "textareaId(pluginType)",
                           "v-bind:name" => "textareaName(pluginType)",
                           "v-model.lazy" => "formats",
                           "rows" => 20}
