<script type="text/template" id="vue-setting-section">

<div class='panel panel-default'>
  <div class='panel-heading' data-toggle='collapse' href='#{{ id }}' title='{{ content }}'>
    {{ type }}
    <span v-if="name == 'match'">({{ arg }})</span>
    <i class="fa fa-caret-down"></i>
  </div>
  <div class='panel-body collapse' id='{{ id }}'>
    <pre v-if="mode != 'edit'">{{ content }}</pre>
    <p v-if="mode == 'edit'">
      <textarea class="form-control" v-model="editContent" v-attr="disabled: processing"></textarea>
    </p>
    <p class="pull-right">
      <button v-if="mode == 'default'" class="btn btn-default" v-on="click: onEdit"><%= t('terms.edit') %></button>
      <button v-if="mode == 'default'" class="btn btn-danger" v-on="click: onDelete"><%= t('terms.destroy') %></button>
      <button v-if="mode != 'default'" class="btn btn-default" v-on="click: onCancel"><%= t('terms.cancel') %></button>
      <button v-if="mode == 'edit'" class="btn btn-primary" v-on="click: onSubmit"><%= t('terms.update') %></button>
    </p>
  </div>
</div>

</script>
