- page_title t('.page_title', label: @fluentd.label) do
  - if @backup_file.content
    - link_to reuse_daemon_setting_running_backup_path, method: 'post', class: "btn btn-primary pull-right" do
      = icon('fa-pencil')
      = t("terms.reuse")

.row
  .col-xs-12
    - if @backup_file.content
      %pre
        = preserve do
          = @backup_file.content
    - else
      %p
        =t('fluentd.common.never_started_yet', brand: fluentd_ui_brand)
